################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/BookManagement.Web/obj
/.vs/BookManagement.Dotnet
/InMemoryDbTest/bin/Debug/net6.0
/InMemoryDbTest/obj
/BookManagement.Web/bin/Debug/net6.0
/BookManagement.Web/wwwroot

bin/
obj/